.about {
    min-height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background-color: #efefef;
}

.makingPizza,
.friends,
.pizza {
    width: 100%;
    height: 40%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.makingPizza p,
.friends p,
.pizza p {
    height: 50%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.makingPizza img {
    width: 350px;
    height: 400px;
    box-shadow: 3px 3px 50px #c7c7c7;
}

.friends img {
    width: 400px;
    height: 100%;
    box-shadow: 3px 3px 50px #c7c7c7;
}

.pizza img {
    width: 350px;
    height: 250px;
    box-shadow: 3px 3px 50px #c7c7c7;

}

/* Responsividade */

@media screen and (max-width: 660px) {

    .makingPizza,
    .friends,
    .pizza {
        width: 100%;
        height: 50%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        gap: 7rem;
        padding: 1em;
    }


    .makingPizza img {
        width: 150px;
        height: 200px;
        box-shadow: 3px 3px 50px #c7c7c7;
    }

    .friends img {
        width: 200px;
        height: 100%;
        box-shadow: 3px 3px 50px #c7c7c7;        
    }

    .pizza img {
        width: 150px;
        height: 100px;
        box-shadow: 3px 3px 50px #c7c7c7;
    }



    .makingPizza p,
    .friends p,
    .pizza p {
        height: 20%;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-size: .5em;
    }
}